EXPO_PUBLIC_OCR_SPACE_API_KEY=tu_api_key_aqui
EXPO_PUBLIC_SUBSCRIPTION_URL=https://tu-dominio.com/subscribe
EXPO_PUBLIC_RC_ANDROID_API_KEY=goog_xxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_RC_IOS_API_KEY=appl_xxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_RC_ENTITLEMENT=pro
EXPO_PUBLIC_RC_OFFERING=default
